* {
  margin: 0;
  padding: 0;
}
.container {
  position: relative;
  width: 1200px;
  height: 850px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  border: 2px solid  pink;
  overflow: hidden;
}
ul {
  left: 0;
  top: 0;
  position: absolute;
}
li{
  list-style-type: none;
}
img {
  width: 1200px;
  height: 850px;
  display: block;
}
